@model KABKABEhandel.ViewModels.Customers.CreateCustomerViewModel
<h1>Confirm order</h1>
<div>
    <h4>Orderinformation:</h4>
    <p>Name @Model.FirstName @Model.LastName<p>
    <p>Phone: @Model.Phone</p>
    <h4>Leveransinfo:</h4>
    <p>Adress: @Model.Street</p>
    <p>Postnr: @Model.Zip</p>
    <p>Ort: @Model.City</p>
    <input type="button"  btn="btn btn primary" id="submit-order" value="Bekräfta order"/>
</div>



<script>

    $(document).ready(function () {

        $("#submit-order").click(function () {

                var orderDetails = [];
                for (var i in localStorage) {

                    if (i.indexOf("product-item-") > -1) {
                        var item = JSON.parse(localStorage[i]);
                        orderDetails.push(item);
                    }
                }
                

                $.post("submitorder", { order: orderDetails },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
            

        });
    });

</script>