

<form>
    <div class="row">
        <div class="col-md-3">

            @*@foreach (var item in Model)
            {
                <div class="item">
                    <img src="@item.ID" class="img-responsive" />
                </div>
                    <h2>@item.Name</h2>
                    <h2>@item.Details</h2>
                    <h2>@item.ID</h2>
                    <h2>@item.Price :-</h2>*@                

            <p>Presentera kundvagnen här</p>


        </div>
    </div>
</form>